.build-button {
  display: inline-block;
  font-family: "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", "Consolas", monospace;
  margin: 1em;
  border-radius: 3px;
  background: #434d5a;
  border: none;
  padding: 1em 0;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 9em;
  -webkit-transition: all 0.2s ease, background-color 0.2s ease-in 0.15s, box-shadow 0.2s ease-in 0.15s, color 0s ease;
  transition: all 0.2s ease, background-color 0.2s ease-in 0.15s, box-shadow 0.2s ease-in 0.15s, color 0s ease;
}
.build-button__bracket, .build-button__text, .build-button__build {
  display: inline-block;
  margin-right: -3px;
  text-align: center;
  width: 0.5em;
  -webkit-transition: all 0.2s ease, color 0s ease;
  transition: all 0.2s ease, color 0s ease;
}
.build-button__bracket {
  font-weight: normal;
}
.build-button__text {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}
.build-button:hover {
  padding: 1em 0;
  -webkit-transition: all 0.2s ease, background-color 0.2s ease-in 0.05s, box-shadow 0.2s ease-in 0.05s, color 0s ease;
  transition: all 0.2s ease, background-color 0.2s ease-in 0.05s, box-shadow 0.2s ease-in 0.05s, color 0s ease;
}
.build-button:hover .build-button__build, .build-button:hover .build-button__text {
  width: 3em;
}
.build-button:hover .build-button__build, .build-button:hover .build-button__text, .build-button:hover .build-button__bracket {
  -webkit-transition: all 0.2s ease, color 0s ease;
  transition: all 0.2s ease, color 0s ease;
}
.build-button:hover .build-button__build {
  opacity: 0;
  position: absolute;
}
.build-button:hover .build-button__text {
  opacity: 1;
  position: static;
}
.build-button--color:hover {
  color: #eeeeee;
}

.build-button--color:hover.build-button--html {
  background-color: #3b5998;
  box-shadow: inset 15px 15px 90px -20px #3b5998, inset -15px -5px 80px -10px #3ba9d8;
}

body {
  text-align: center;
  padding: 350px;
  background: #dfdfee;
}
