		body {
			margin:0;
			padding:0;
			background: white;
			color: black;
			font-family: Helvetica, Verdana;
			overflow: scroll;
		}
		h2 {
			text-align: center;
			margin-top: 25px;
			color:#FFF;
			transform: scale(1);
			animation:text 1s ease forwards;
			-webkit-animation:text 1s ease forwards;
			-moz-animation:text 1s ease forwards;
		}
		main {
			width: 150px;
			margin:50px auto 0 auto;
			position: relative;
			
		}
		.envelope-top {
			width: 0;
			height: 0;
			border-left: 76px solid transparent;
			border-right: 74px solid transparent;
			border-top: 47px solid #fbf1cd;
			position: relative;
			top: 47px;
			left: 0;
		}
		.envelope-right {
			width: 0;
			height: 0;
			border-top: 50px solid transparent;
			border-right: 100px solid #faecc0;
			border-bottom: 40px solid transparent;
			position: relative;
			top: -90px;
			right: -50px;
		}
		.envelope-left {
			width: 0;
			height: 0;
			border-bottom: 90px solid #f9e9b6;
  			border-right: 150px solid transparent;
			z-index: 99999;
			position: relative;
		}
		.msg {
			background: #e9584e;
			border-radius: 50%;
			width:30px;
			height: 30px;
			line-height: 34px;
			text-align: center;
			color:#FFFFFF;
			position: absolute;
			top:30px;
			z-index: 9999;
			right: -10px;
			opacity: 0;
			margin-top:10px;
			animation:msg 1s ease 0.5s forwards;
			-webkit-animation:msg 1s ease 0.5s forwards;
			-moz-animation:msg 1s ease 0.5s forwards;
		}
		
		@keyframes text {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(1.5);
			}
		}
		@-webkit-keyframes text {
			0% {
				transform: scale(1);
			}
			100% {
				transform: scale(1.5);
			}
		}
		@keyframes msg {
			0% {
				margin-top: 10px;
				opacity: 0;
			}
			100% {
				margin-top: 0;
				opacity: 1;
			}
		}
		@-webkit-keyframes msg {
			0% {
				margin-top: 10px;
				opacity: 0;
			}
			100% {
				margin-top: 0;
				opacity: 1;
			}
		}
		@keyframes check {
			0% {
				bottom: -10px;
				opacity: 0;
			}
			100% {
				bottom: 0;
				opacity: 1;
			}
		}
		@-webkit-keyframes check {
			0% {
				bottom: -10px;
				opacity: 0;
			}
			100% {
				bottom: 0;
				opacity: 1;
			}
		}
		#mail
		{
			height: 100px;
			margin-top:15px;
			width:130px;
		}
		.alert
		{
			text-align: center;
		}
		#title
		{
			text-decoration: none;
			font-size:2em;
			text-align: center;
		}
