body {
  margin-bottom: 60px;
  /* Margin bottom for footer height */
}

hr {
  margin-bottom: 10px; 
  margin-top: 10px;
}
 
html {
  position: relative;
  min-height: 100%;
}

.heading {
  font-weight: bold;
  font-size: 0.9em;
  font-family: Helvetica, Verdana;
}

nav {
  border-bottom: 1px solid silver;
}

h2 {
  font-family: Helvetica,Verdana;
}

p {
  font-size: medium;
  font-style: oblique;
  color: grey;
}

.form-control {
  font-size: small;
  font-family: Helvetica,Verdana;
}

#about > a {
  text-decoration: none;
  color: #a59d9d;
  transition: 2s;
}

#about > a:hover{
  background-color: black;
}

#seperator {
  margin: 10px;
}

#toggler {
  margin-top: 1.3em;
}


.dropdown-menu {
  left: -50px;
  min-width: 40px;
}

.navbar-toggler-icon {
  font-size: 1.5em;
}

.footer {
  position: absolute;
  font-size: 0.9em;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

a {
  color: #29B6F6;
  /* color of the build button */
}
#preview
{
height:200px;
width:100%;
margin-bottom: 10px;
display: none;
}
