/* BASIC RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
