<div id="deployment">
  <span class="text-muted"> Grab the latest pre-built ISO
    <a href="https://github.com/fossasia/meilix/zipball/master">here</a> or head to the
    <a href="https://github.com/fossasia/meilix/releases">Releases</a> page for more options.</span>
</div>
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    function debounce(func, wait = 0, immediate = true) {
      var timeout;
      return function () {
        var context = this, args = arguments;
        var later = function () {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    }
    const messages = document.querySelectorAll('.mouse-over-text');
    messages.forEach(message => {
      message.addEventListener('mouseenter', function() {
        $(message).find('.hidden-text').addClass('active');
      });
      message.addEventListener('mouseleave', function () {
        $(message).find('.hidden-text').removeClass('active');
      });
    });

    var zip = document.getElementById('zip');

    zip.onchange = function() {
      if(this.files[0].size > 4194304){
        alert("File size too big");
        this.value = " ";
      } else {
        $(this).prev('span').text($(this).val()!=''?$(this).val():'Browse');
      }
    }

    $('#file').change(function (e) {

       var blobUrl = URL.createObjectURL($('#file')[0].files[0]);
       $("#preview")[0].src = blobUrl;
       $("#preview")[0].style.display="block";
    });



  });


</script>
