<header>
  <div class="container">
    <a href="/" class="logo">
      <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
      <h3>Meilix Generator</h3>
    </a>
    <span class="drop-btn">
      <img src="{{ url_for('static', filename='images/menu-icon.svg') }}" alt="apps" class="img_btn" id="img_btn">
      <div class="dropdown">
        <ul>
          <li>
            <a href="http://github.com/fossasia/meilix-generator" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/code.png') }}"></div>
              <span>Code</span>
            </a>
          </li>
          <li>
            <a href="http://github.com/fossasia/meilix-generator/issues" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/bug.png') }}"></div>
              <span>Bug Report</span>
            </a>
          </li>
          <li>
            <a href="http://blog.fossasia.org" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/blog.png') }}"></div>
              <span>Blogs</span>
            </a>
          </li>
          <li>
            <a href="https://fossasia.org/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/fossasia.png') }}"></div>
              <span>FOSSASIA</span>
            </a>
          </li>
          <li>
            <a href="https://eventyay.com/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/eventyay.png') }}"></div>
              <span>Eventyay</span>
            </a>
          </li>
          <li>
            <a href="https://susper.com/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/susper.png') }}"></div>
              <span>Susper</span>
            </a>
          </li>
          <li>
            <a href="https://chat.susi.ai/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/susi.png') }}"></div>
              <span>SUSI</span>
            </a>
          </li>
          <li>
            <a href="https://loklak.org/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/loklak.png') }}"></div>
              <span>loklak</span>
            </a>
          </li>
          <li>
            <a href="https://phimp.me/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/phimp.png') }}"></div>
              <span>Phimp.me</span>
            </a>
          </li>
          <li>
            <a href="http://dev.yaydoc.org/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/yaydoc.jpg') }}"></div>
              <span>Yaydoc</span>
            </a>
          </li>
          <li>
            <a href="https://pslab.fossasia.org" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/Pslab.png') }}"></div>
              <span>PS Lab</span>
            </a>
          </li>
          <li>
            <a href="http://badgeyay.com/" target="_blank" rel="noopener">
              <div class="img"><img src="{{ url_for('static', filename='images/badgeyay.png') }}"></div>
              <span>Badgeyay</span>
            </a>
          </li>
        </ul>
        <div class="more">
          More on&nbsp;<a href="https://labs.fossasia.org/" target="_blank" rel="noopener">labs.fossasia.org</a>
        </div>
      </div>
    </span>
  </div>
</header>
