<!--file upload form-->
<form method="POST" enctype="multipart/form-data">

  <div class="custom-navbar">
    <a  href='.' class="custom-navtitle">
      <strong>Meilix Generator</strong>
    </a>
    <div class="custom-menubutton">
      <i class="glyphicon glyphicon-th"></i>
    </div>
  </div>
  <div class="custom-menu-cont hidden">
    <div class="custom-menu">
      <div class="arrow-up"></div>
      <div>
        <div class="custom-menu-item">
          <a href="http://github.com/fossasia/meilix-generator" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='code.png') }}"></div>
            <p class="custom-title">Code</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="http://github.com/fossasia/meilix-generator/issues" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='bug.png') }}"></div>
            <p class="custom-title">Bug Report</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="http://blog.fossasia.org" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='blog.png') }}"></div>
            <p class="custom-title">Blogs</p>
          </a>
        </div>
        <hr>
        <div class="custom-menu-item">
          <a href="https://eventyay.com/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='eventyay.png') }}"></div>
            <p class="custom-title">Eventyay</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://susper.com/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='susper.png') }}"></div>
            <p class="custom-title">Susper</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://chat.susi.ai/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='susi.png') }}"></div>
            <p class="custom-title">Susi</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://fossasia.org/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='fossasia.png') }}"></div>
            <p class="custom-title">FOSSASIA</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://loklak.org/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='loklak.png') }}"></div>
            <p class="custom-title">loklak</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://phimp.me/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='phimp.png') }}"></div>
            <p class="custom-title">Phimp.me</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://pslab.fossasia.org" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='Pslab.png') }}"></div>
            <p class="custom-title">PS Lab</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="http://badgeyay.com/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='badgeyay.png') }}"></div>
            <p class="custom-title">Badgeyay</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="http://yaydoc.org/" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='yaydoc.jpg') }}"></div>
            <p class="custom-title">Yaydoc</p>
          </a>
        </div>
        <div class="custom-menu-item">
          <a href="https://github.com/fossasia/MMM-SUSI-AI" target="_blank">
            <div class="custom-icon"><img src="{{ url_for('static', filename='susimagicmirror.png') }}"></div>
            <p class="custom-title">SUSI.AI for Magic Mirror</p>
          </a>
        </div>
        <hr  id="seperator">
        <div  id="about">
          More on&nbsp;<a href="https://labs.fossasia.org/" target="_blank">
            labs.fossasia.org</a>
        </div>
</div>
</div>
  </div>
  <br>
