<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Meilix Generator Email Notification</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/email.css') }}">
	<!-- Favicons -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- End favicon -->
</head>

<body>
	<div class="custom-navbar">

		<div class="alert alert-info" >

			<a id="title" href='.'>
				<strong>Meilix Generator</strong>
			</a>
		</div>

	</div>

	<br>
	<div class="alert alert-danger" >
		<strong>Success!</strong> Email will be sent with the downloadable ISO link once it is ready
	</div>
	<main>
		<div class="msg">1</div>
		<section class="envelope-top"></section>
		<section class="envelope-left"></section>
		<section class="envelope-right"></section>
	</main>
	<div class="container">


		<div class="alert alert-info" >
			<strong>Check your Email Now</strong>
			<div class="container-fluid">
				<div class="row">

					<a class="col-3" target="_blank" href="https://www.gmail.com">
						<img id='mail'  src="{{ url_for('static',filename='gmail.png') }}">

					</a>
					<a class="col-3" target="_blank" href="https://outlook.com">
						<img id='mail'  src="{{ url_for('static',filename='outlook.png') }}">

					</a>
					<a class="col-3" target="_blank" href="https://overview.mail.yahoo.com/">
						<img id='mail'  src="{{ url_for('static',filename='yahoo.jpeg') }}">
					</a>
					<a class="col-3" target="_blank" href="https://mail.protonmail.com/">
						<img id='mail'  src="{{ url_for('static',filename='proton.jpeg') }}">
					</a>




				</div>

			</div>

		</div>


	</div>

</body>

</html>
