---
layout: page
title: Downloads
---

<div class="container-downloads">
    <div class="container">
        <h1>Last 30 releases<span class="total-downloads"></span></h1>
        <div><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
        <table class="table table-bordered table-striped table-downloads">
            <thead>
                <tr>
                    <th>Release name</th>
                    <th>File size</th>
                    <th>Download count</th>
                    <th>Release date</th>
                    <th>Active days</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% include common-js.html %}
<script src="{{ site.url }}/js/moment.min.js"></script>

<script>
    $(document).ready(function() {
        var repo = GetParameterByName("repo");
        if (repo) {
            $("#downloads-header").text(repo).attr("href", "https://github.com/" + repo);
        } else {
            repo = "fossasia/meilix";
        }
        GetReleases(repo);
    });

    function GetReleases(repo) {
        $.getJSON("https://api.github.com/repos/" + repo + "/releases").done(function(json) {
            var totalDownloadCount = 0;
            previousUpdatedAt = moment();

            for (var i = 0; i < json.length; i++) {
                var release = json[i];
                if (release.assets.length === 0) {
                    continue;
                }
                var asset = release.assets[0];
                var fileSize = Math.round(asset.size / 1024);
                var downloadCount = 0;
                for (var i2 = 0; i2 < release.assets.length; i2++) {
                    downloadCount += release.assets[i2].download_count;
                }
                totalDownloadCount += downloadCount;
                var updatedAt = moment(asset.updated_at);
                var activeDays = previousUpdatedAt.diff(updatedAt, "days", true);
                previousUpdatedAt = updatedAt;
                $(".table-downloads tbody")
                    .append($("<tr>")
                        .append($("<td>")
                            .append($("<a>")
                                .attr("href", release.html_url)
                                .text(release.name)
                            )
                            .append(release.prerelease ? "<div class=\"pull-right\"><span class=\"label label-danger\">Pre-release</span></div>" : "")
                        )
                        .append($("<td>")
                            .append($("<a>")
                                .attr("href", asset.browser_download_url)
                                .text(fileSize.toLocaleString() + " KB")
                            )
                        )
                        .append($("<td>")
                            .text(downloadCount.toLocaleString())
                        )
                        .append($("<td>")
                            .text(moment(asset.updated_at).format("YYYY-MM-DD HH:mm"))
                        )
                        .append($("<td>")
                            .text(activeDays.toFixed(1))
                        )
                    );
            }

            if (totalDownloadCount > 0)
            {
                $(".total-downloads").text(" (" + totalDownloadCount.toLocaleString() + " downloads)");
            }

            $(".fa-spin").hide();
            $(".table-downloads").fadeIn();
        });
    }

    function GetParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
