<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Meilix Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<html>

<head>
    <meta charset="UTF-8">
    <title>Meilix Generator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <!--file upload form-->
    <form method="POST" enctype="multipart/form-data">

<label class="btn btn-default btn-file" for="file-upload">
          E-mail  <input type="text" pattern="[^ @]*@[^ @]*" placeholder="Enter your email" name="email">
</label >

        <br />

        <label class="btn btn-default btn-file" for="file-upload">
            <!-- need to theme this choosefile button -->
            <input type="file" name="file" />
        </label>

        <br/>

        <!--image generationg button-->
        <label class="build-button build-button--html build-button--color">
            <b class="build-button__bracket">&lt;</b>
            <span class="build-button__build">/</span>
            <span class="build-button__text">Build</span>
            <b class="build-button__bracket">&gt;</b><input type="submit" id="file-upload" value="Upload" />
        </label>

<body>
  <form method="POST" enctype="multipart/form-data">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
  <h2>Meilix Generator</h2>
  <p>A webapp which can generate iso for you</p>
  <form class="form-inline">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="TRAVIS_TAG">Event Name:</label>
      <input type="text" class="form-control" placeholder="Enter event" name="TRAVIS_TAG" required>
    </div>
<div class="col-md-06">
    <div class="form-group">
        <label>Upload Wallpaper:</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    <input type="file" name="file" class="file" data-show-preview="false" required>
                </span>
            </span>
        </div>
        <img id='file-upload'/>
    </div>
</div>
  <input type="submit" class="btn btn-info center-block" id="file-upload" value="Build" />
  </form>
</div>
</div>
</form>
</body>

</html>
