<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Meilix-Generator | {% block title %}{% endblock %}</title>

	<link rel="icon" href="{{ url_for('static', filename='logo.png') }}">

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  	<!--Import Google Icon Font-->
  	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<!-- Import Jquery-->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">

  	<!-- Custom CSS -->
  	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
	{% block extras %}{% endblock %}
</head>
<body>
	{% block main %}{% endblock %}
	<div class="fixed-action-btn">
	    <a class="btn-floating btn-large red">
	      <i class="large material-icons">eject</i>
	    </a>
	    <ul>
	      <li><a class="btn tooltipped btn-floating yellow darken-1" data-position="left" data-delay="50" data-tooltip="About"  href="{{ url_for('about') }}"><i class="material-icons">help</i></a></li>
	      <li><a class="btn tooltipped btn-floating green" data-position="left" data-delay="50" data-tooltip="Codes on GitHub" href="https://github.com/Meilix-Generator/meilix-generator" target="_blank"><i class="material-icons">code</i></a></li>
	      <li><a class="btn tooltipped btn-floating blue" data-position="left" data-delay="50" data-tooltip="Send E-mail" href="mailto:meets2tarun@gmail.com?Subject=meilix-systemlock%20Help" target="_blank"><i class="material-icons">mail</i></a></li>
	      <li><a class="btn tooltipped btn-floating black" data-position="left" data-delay="50" data-tooltip="Creator's profile" href="http://sucode.me/" target="_blank"><i class="material-icons">person</i></a></li>
	      <li><a class="btn tooltipped btn-floating red" data-position="left" data-delay="50" data-tooltip="Home" href="{{ url_for('index') }}"><i class="material-icons">home</i></a></li>
	    </ul>
  	</div>
  	<div class="container">
  		<div class="row" style="padding-top: 50px;">
			<div class="col s12">
				<center>
            	Created with <span class="red-text text-darken-2"> &hearts; </span>in <a href="http://fossasia.org/" target="_blank">FOSSASIA</a> by <a href="http://sucode.me" target="_blank">Tarun Kumar</a> and <a href="https://github.com/xeon-zolt" target="_blank">Harsh Lathwal</a>
				<br>
				See codes <a href="https://github.com/Meilix-Generator/meilix-generator" target="_blank">here</a> .
            	</center>
			</div>
		</div>
  	</div>
</body>
</html>
